<!-- Start latest course section -->
  <section id="mu-latest-courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="mu-latest-courses-area">
            <!-- Start Title -->
            <div class="mu-title">
              <h2>KHÓA HỌC</h2>
            </div>
            <!-- End Title -->
            <!-- Start latest course content -->
            <div id="mu-latest-course-slide" class="mu-latest-courses-content">
              <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="mu-latest-course-single">
                  <figure class="mu-latest-course-img">
                    <a href="#"><%= image_tag "c1.png" %></a>
                    <figcaption class="mu-latest-course-imgcaption">
                      <a href="#">THCS</a>
                    </figcaption>
                  </figure>
                  <div class="mu-latest-course-single-content">
                    <p>- Chương trình bồi dưỡng kiến thức cho học sinh THCS các môn: <br> TOÁN – VẬT LÍ – HOÁ HỌC – NGỮ VĂN – TIẾNG ANH</p>
                    <p>- Giáo trình và phương pháp đặc biệt</p>
                    <br>
                    <div class="mu-latest-course-single-contbottom">
                      <a class="mu-course-details" href="#">HỌC PHÍ</a>
                      <span class="mu-course-price" href="#">$300.000vnd</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="mu-latest-course-single">
                  <figure class="mu-latest-course-img">
                    <a href="#"><%= image_tag "c2.png" %></a>
                    <figcaption class="mu-latest-course-imgcaption">
                      <a href="#">THPT </a>
                    </figcaption>
                  </figure>
                  <div class="mu-latest-course-single-content">
                    <p>- Trang bị kiến thức vững chắc cho học sinh THPT.</p>
                    <p>- Các lớp nâng cao và bồi dưỡng kiến thức căn bản các môn.</p><br>
                    <br>
                    <div class="mu-latest-course-single-contbottom">
                      <a class="mu-course-details" href="#">HỌC PHÍ</a>
                      <span class="mu-course-price" href="#">$350.000vnd</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="mu-latest-course-single">
                  <figure class="mu-latest-course-img">
                    <a href="#"><%= image_tag "c3.png" %></a>
                    <figcaption class="mu-latest-course-imgcaption">
                      <a href="#">LUYỆN THI</a>
                    </figcaption>
                  </figure>
                  <div class="mu-latest-course-single-content">
                    <p>- Đội ngũ giảng viên giàu kinh nghiệm, đến từ trường ĐH Sư Phạm Tp.HCM</p>
                    <p>- Bồi dưỡng, hệ thống lại kiến thức giúp cho học sinh tự tin bước vào kì thi ĐH.</p>
                    <div class="mu-latest-course-single-contbottom">
                      <a class="mu-course-details" href="#">HỌC PHÍ</a>
                      <span class="mu-course-price" href="#">$400.000vnd</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- End latest course content -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End latest course section -->
