  <!-- Start features section -->
  <section id="mu-features">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="mu-features-area mb-wrap mb-style-3">
            <!-- Start Title -->
            <div class="mu-title">
              <blockquote>
              <h2>SỨ MỆNH CỦA CHÚNG TÔI</h2>
              <p><b>TRUNG TÂM LUYỆN THI ĐẠI HỌC VÀ BDVH THE WORLD</b> ra đời với sứ mệnh đáp ứng nhu cầu HỌC TẬP, BỔ TRỢ KIẾN THỨC để các em có một nền tảng kiến thức cơ bản  vững vàng đạt thành tích cao trong năm học và chuẩn bị hành trang kiến thức cho những  năm tiếp theo, từ đó các em luôn có một kết quả tốt trong các kỳ thi chuyển cấp và vào đại học.</p>
              </blockquote>
            </div>
            <div class="mb-attribution">
    <p class="mb-author">THE WORLD CENTER</p>
  </div>
            <!-- End Title -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End features section -->
