<!-- Start service  -->
  <section id="mu-service">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="mu-service-area giang">
            <!-- Start single service -->
            <div class="mu-service-single">
              <span class="fa fa-book"></span>
              <h3><b>HỌC PHÍ CỰC RẺ</b></h3><br>
              <p id="custom-font-service">- Luyện thi đại học chỉ với 400.000đ/môn/tháng/hs.</p>
              <p id="custom-font-service">-Bồi dưỡng kiến thức cho học sinh THPT chỉ 350.000đ/môn/tháng/hs.</p>
              <p id="custom-font-service">-Bồi dưỡng kiến thức cho học sinh THCS chỉ 300.000đ/môn/tháng/hs.</p>
            </div>
            <!-- Start single service -->
            <!-- Start single service -->
            <div class="mu-service-single">
              <span class="fa fa-users"></span>
              <h3><b>GIẢNG VIÊN <br>KINH NGHIỆM</b></h3>
              <p id="custom-font-service">1.Thầy: Vũ Đình Quyết – Th.s Hóa học – ĐHSP TP.HCM</p>
              <p id="custom-font-service">2.Thầy: Trần Công Hùng – Th.s Vật lý – ĐHSP TP. HCM</p>
              <p id="custom-font-service">3.Thầy: Đinh Văn Trưng – Th.s Toán học – ĐHSP TP. HCM</p>
            </div>
            <!-- Start single service -->
            <!-- Start single service -->
            <div class="mu-service-single">
              <span class="fa fa-table"></span>
              <h3><b>CHƯƠNG TRÌNH <br>ĐA DẠNG<b></h3>
              <p id="custom-font-service">- Chương trình cho học sinh THCS & THPT.</p>
              <p id="custom-font-service">- Các lớp nâng cao và bồi dưỡng kiến thức căn bản các môn</p>
              <p id="custom-font-service">TOÁN – VẬT LÍ – HOÁ HỌC – NGỮ VĂN – TIẾNG ANH</p>
              <p id="custom-font-service">Với giáo trình và phương pháp đặc biệt.</p>
            </div>
            <!-- Start single service -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End service  -->
